body{
	margin: 0;
	padding: 0;
}
/*header start*/
header{
	padding: 15px 0;
}

.container {
	width: 75%;
	margin: 0 auto;
	overflow: hidden;
}

.logo {
	width: 20%;
	float: left;
}
.logo img{
	width: 100%;
}

.menu {
	width: 75%;
	float: right;
	margin-top: 5px;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	font-family: sans-serif;
	font-size: 17px;
	font-weight: 700;
	color: ;
	text-decoration: none;
	padding: 0 10px;
	display: inline-block;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: ;
}
/*header end*/
/*banner start*/
.banner{
	background-image: url(images/notarize.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-position: center;

}
.b_content{
	margin-top: 100px;
	margin-bottom: 100px;
	width: 50%;
}
.b_content h1{
	font-family: sans-serif;
	font-size: 58px;
	color: white;
	letter-spacing: 2px;
	text-transform: capitalize;
	margin-top: 0;
	margin-bottom: 25px;
}
.b_content p{
	font-family: sans-serif;
	font-size: 19px;
	color: white;
	margin-top: 0;
	margin-bottom: 15px;
}
.b_content button{
	width: 240px;
	height: 30px;
	background-color: #BF203E;
	font-family: sans-serif;
	font-size: 15px;
	color: white;
	text-transform: uppercase;
	margin-top: 30px;
	cursor: pointer;
}
.b_content button: focus{
	outline: 0;
}
/*banner end*/
